/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture');
@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lora');

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 0;
    padding-top: 26px;
}

article {
    font-family: 'Lora', serif;
    font-size: 16px;
    padding-bottom: 16px;
}

.row {
    display: block;
    width: 100%;
}

.wrap-all {
    box-sizing: border-box;
    max-width: 1200px;
}

.outer-wrap {
    max-width: 1200px;
}

.inner-wrap {
    max-width: 1200px;
}

.site-logo {
    display: none;
}

.region-header {
    padding-top: 24px;
    box-sizing: border-box;
}

.region-header-col-1 {
    float: left;
    line-height: 0;
}

.site-logo-text-icon {
    display: none;
}

.site-logo-text a {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: #c71585;
}

ul {
    display: inline;
}

.rm-navbar {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    line-height: 0px;
    margin: 0;
    height: 50px;
}

.my-navbar {
    list-style-type: none;
    display: inline;
    float: left;
}

.inner-wrap-header {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
}

.region-header-col-2 {
    float: right;
    width: 70%;
    height: 50px;
}

.region-header-col-2 li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding-right: 20px;
    height: 28px;
}

.region-header-col-2 li a {
    color: #483D8B;
    text-decoration: none;
}

.region-header-col-2 li a:hover {
    text-decoration: underline;
}

.outer-wrap-main {
    box-sizing: border-box;
}

.inner-wrap-main {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.region-main {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 12%;
}

figure {
    display: table;
}

figure.figure.right {
    float: right;
    margin-top: 0;
    margin-left: 5em;
}

figure.figure figcaption {
    display: table-caption;
    caption-side: bottom;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

figure.figure.left {
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-right: 20px;
}

.block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.inner-wrap-footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px
}

.region-footer {
    display: inline;
    float: left;
    background-color: #ffffe0;
}

.footer-column {
    float: left;
    display: inline;
    width: 30%;
    padding-left: 12px;
    padding-right: 12px;
}

.footer-column a {
    color: #c71585;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.site-footer {
    padding-top: 24px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

.region-sidebar-left {
    display: inline;
    float: left;
    widht: 30%;
}

.region-sidebar-left ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    list-style-type: none;
    padding-left: 2em;
}

.breadcrumb-list ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style-type: none;
    padding-left: 2em;
    text-decoration: none;
}

.region-sidebar-left a {
    color: #1e90ff;
    text-decoration: none
}

.breadcrumb-list a {
    color: black;
    text-decoration: none;
}

.region-sidebar-left a:hover {
    text-decoration: underline;
}

.breadcrumb-list a:hover {
    text-decoration: underline;
}

.region-main.has-sidebar-left {
    display: inline;
    float: left;
    width: 60%
}

.region-main.has-sidebar-right {
    display: inline;
    float: left;
    width: 70%
}

.wrap-sidebar a {
    color: #c71585;
    text-decoration: none;
}

.wrap-sidebar a:hover {
    text-decoration: underline;
}
