// theme minimalistic footer layout

.inner-wrap-footer {
    background-color: #d3d3d3;
    border-radius: 10px;
}

.inner-wrap-footer .row {
    max-width: 100%;
}

.footer-column {
    #desinax-vgrid.column(@columns * 7 / 24);
    padding: 0 10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.footer-column-x p {
    font-family: 'Muli';
    font-size: 16px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.site-footer {
    #desinax-vgrid.column(@columns);
    text-align: center;
}

.block.site-footer p {
    font-family: 'Muli';
    font-size: 16px;
    margin-top: 24px;
}
